@import "variables";


li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.centered-box{
    width: 70%;
    margin: auto;
}

.pointer{
    cursor: pointer;
}


button{
    background-color: $mountain-meadow;
    font-family: $sans-serif-mont;
    font-size: $f-size-xs;
    font-weight: 800;
    color: white;
    padding: 12px 35px;
    border-radius: 4px;
    transition: .3s all;
    i{
        margin-left: 5px;
    }
    &:hover{
        background-color: #3f3a64;
    }
}