@import "variables";


li{
    list-style: none;
}

a{
    text-decoration: none;
}

.centered-box{
    width: 70%;
    margin: auto;
}

.pointer{
    cursor: pointer;
}


button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: $mountain-meadow;
    font-family: $sans-serif-mont;
    font-size: $f-size-xs;
    font-weight: 800;
    color: white;
    padding: 12px 35px;
    border-radius: 4px;
    transition: .3s all;
    i{
        margin-left: 5px;
    }
    &:hover{
        background-color: #3f3a64;
    }
}



.fade-in{
    opacity: 1;
    animation-name: goIn;
    animation-duration: .8s;
}


@keyframes goIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.fade-out{
    opacity: 1;
    animation-name: goOut;
    animation-duration: .8s;
}


@keyframes goOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}




::-moz-selection { /* Code for Firefox */
  color: white;
  background: $mountain-meadow;
}

::selection {
  color: white;
  background: $mountain-meadow;
}