main{
    padding-top: 80px;

    /* stats section */
    .stats-section{
        display: flex;
        padding-bottom: 80px;
        .stats-card{
            padding: 10px;
            width: 25%;
            text-align: center;
            border-left: 1px dashed $mountain-meadow-light;
            &:last-child{
                border-right: 1px dashed $mountain-meadow-light;
            }

            h4{
                font-family: $sans-serif-mont;
                font-size: $f-size-extraLarge;
                color: $mountain-meadow;
                font-weight: 600;
                padding-bottom: 10px;
            }
            span{
                font-family: $sans-serif-mont;
                font-weight: 600;
                font-size: $f-size-small;
                color: $cordouray;
                text-transform: uppercase;
            }
        }
    }

    /* about section */
    .about-section{
        display: flex;
        padding-bottom: 80px;
        .left-about{
            width: 50%;
            h4{
                color: $mountain-meadow;
                font-family: $sans-serif-mont;
                font-size: $f-size-small;
                text-transform: uppercase;
                font-weight: 600;
                padding-bottom: 25px;
            }
            h2{
                color: $dark-grey;
                font-family: $serif-playfair;
                font-size: $f-size-extraLarge;
                padding-right: 180px;
            }
        }

        .right-about{
            padding-top: 45px;
            width: 50%;
            .bolded-p{
                font-size: $f-size-standard;
                font-family: $sans-serif-mont;
                color: $dark-grey;
                font-weight: 600;
                line-height: 30px;
                margin-bottom: 10px;
                span{
                    color: $mountain-meadow;
                }
            }
            p{
                font-size: $f-size-small;
                font-family: $sans-serif-mont;
                color: $cordouray;
                font-weight: 500;
                line-height: 20px;
            }
            
        }
    }

    /* youtube video section */
    .youtube-section{
        padding-bottom: 80px;
        display: flex;
        .video-box{
            width: 60%;
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            .video{
                width: 100%;    
                height: 100%;
                cursor: pointer;
                transition: 1.5s transform;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .video-btn{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

        .video-presentation{
            width: 40%;
            padding: 40px 40px 20px 40px;
            p{  
                font-size: $f-size-large;
                color: $dark-grey;
                line-height: 35px;
                margin-bottom: 40px;
            }
            img{
                margin-bottom: 15px;
            }
            h5{
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                color: $dark-grey;
                font-weight: 600;
                margin-bottom: 10px;
            }
            h6{
                color: lighten($cordouray, 15%);
                text-transform: uppercase;
                font-family: $sans-serif-mont;
                position: relative;
                span:last-child{
                    margin-left: 10px;
                }
                #special-char{
                    position: absolute;
                    bottom: .7px;
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }

    /* courses section */
    .courses-section{
        padding-bottom: 20px;
        h4{
            font-family: $sans-serif-mont;
            color: $cordouray;
            font-size: $f-size-small;
            font-weight: 600;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        h2{
            font-family: $serif-playfair;
            font-size: $f-size-extraExtraLarge;
            color: $dark-grey;
            text-align: center;
            span{
                color: $mountain-meadow;
            }
        }
        button{
            display: block;
            margin: auto;
        }
        .courses-cards-box{
            padding-bottom: 40px;
            .courses-row-one,
            .courses-row-two{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding-top: 40px;
                padding-bottom: 10px;
                .card{
                    width: 31%;
                    min-width: 260px;
                   
                    .img-box{
                        overflow: hidden;
                        img{
                            width: 100%;
                            margin-bottom: 15px;
                            transition: 1.5s all;
                        }
                    }
                    .course-info{
                        padding: 0 15px 15px 15px;
                        .costo{
                            font-family: $sans-serif-mont;
                            color: $mountain-meadow;
                            font-size: $f-size-large;
                            font-weight: 500;
                        }
                        .testo{
                            font-family: $sans-serif-mont;
                            font-size: $f-size-standard;
                            font-weight: 600;
                            line-height: 25px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                        .lesson-students-box{
                            display: flex;
                            div{
                                margin-right: 15px;
                                span{
                                    font-family: $sans-serif-mont;
                                }
                                span,
                                i{
                                    color: $cordouray;
                                    font-size: $f-size-small;
                                }
                            }
                        }
                    }
    
                    &:hover img{
                        transform: scale(1.06) translateY(-5px);
                    }
                    &:hover{
                        box-shadow: 1px 1px 40px rgb(204, 204, 204);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    /* books/collaboration section */
    .books-collab-section{
        padding-top: 60px;
        padding-bottom: 60px;

        /* book section */
        .book-sect{
            display: flex;
            
            .product-perks{
                width: 40%;
                padding-right: 80px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3{
                    text-transform: uppercase;
                    font-family: $sans-serif-mont;
                    font-weight: 600;
                    color: $cordouray;
                    font-size: $f-size-small;
                }
                h2{
                    font-family: $serif-playfair;
                    color: $dark-grey;
                    font-size: $f-size-extraLarge;
                    line-height: 45px;
                    
                    font-weight: 400;
                    span{
                        color: $mountain-meadow;
                    }
                }
                ul{ 
                    li{
                        margin-bottom: 10px;
                        i{
                            color: $mountain-meadow;
                            font-size: $f-size-small;
                            margin-right: 10px;
                        }
                        span{
                            color: $cordouray;
                            font-family: $sans-serif-mont;
                            font-size: $f-size-small;
                        }
                    }
                }
                button{
                    width: 160px;
                }
            }
            #book-one,
            #book-two{
                cursor: pointer;
                .img-circles-box{
                    overflow: hidden;
                    position: relative;
                    .hidden-circles{
                        opacity: 0;
                        transition: .4s all;
                        position: absolute;
                        top: 50%;
                        right: 6%;
                        transform: translateY(-50%);
                        ul{
                            li{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $dark-grey;
                                background-color: white;
                                box-shadow: 1px 1px 10px lightgrey;
                                border-radius: 50%;
                                height: 40px;
                                width: 40px;
                                margin-bottom: 10px;
                                cursor: pointer;
                                &:hover{
                                    background-color: $mountain-meadow;
                                    color: white;
                                }
                            }
                        }
                    }

                    img{
                        width: 100%;
                        transition: 1s all;
                    }
                    &:hover img{
                        transform: scale(1.12);
                    }
                    &:hover .hidden-circles{
                        opacity: 1;
                    }
                }
                h3{
                    text-align: center;
                    font-family: $sans-serif-mont;
                    font-size: $f-size-standard;
                    font-weight: 600;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
                h4{
                    text-align: center;
                    font-family: $sans-serif-mont;
                    font-weight: 600;
                    color: $mountain-meadow;
                    font-size: $f-size-bigger;
                }
            }
            #book-one{
                width: 30%;
                margin-right: 20px;
            }
            #book-two{
                width: 30%;
            }
        }

        /* partners section */
        .collab-sect{
            padding-top:120px;
            padding-bottom: 100px;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    img{
                        filter: saturate(30%);
                        opacity: 40%;
                        transition: .2s all;
                        &:hover{
                            filter: saturate(100%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    /* reviews section */
    .reviews-section{
        display: flex;
        margin-bottom:100px;
        position: relative;

        .left-rev-side{
            width: 50%;
            flex-direction: column;
            padding: 60px 120px;
            text-align: center;
            background-color: $amour;
            background-image: url("../img/background-pattern-wavify.png");
            
            h4{
                color: $mountain-meadow;
                font-family: $sans-serif-mont;
                font-weight: 600;
                padding-bottom: 50px;
                text-transform: uppercase;
            }
            p{  
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                color: $dark-grey;
                font-weight: 600;
                line-height: 30px;
                padding-bottom: 40px;
            }
            img{
                width: 80px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            h3{
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                color: $dark-grey;
                padding-bottom: 10px;
                font-weight: 600;
            }
            h5{
                font-family: $sans-serif-mont;
                color: $cordouray;
                font-size: $f-size-xs;
                font-weight: 600;
            }
        }

        .right-rev-side{
            width: 50%;
            background-image: url("../img/home-movation-testimonial-image.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -50px;
        }

        .picker-circle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-color: white;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            span{
                margin: 10px;
                font-family: $sans-serif-mont;
            }
            img{
                cursor: pointer;
            }
        }
    }
}


