footer{
    background-color: $vulcan;
    padding-top: 60px;
    position: relative;
    
    .footer-section{
        display: flex;
        .footer-left{
            width: 50%;
            h3{
                color: white;
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                font-weight: 700;
                margin-bottom: 10px;
            }
            div{
                display: flex;
                flex-direction: column;
                span{
                    color: $silver-sand;
                    font-family: $sans-serif-mont;
                    font-size: $f-size-small;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            ul{
                display: flex;
                li{

                    font-size: $f-size-large;
                    color: $silver-sand;
                    margin-top: 15px;
                    margin-right: 20px;
                    &:hover{
                        color: $mountain-meadow;
                    }
                }
            }
        }
    
        .footer-center{
            width: 30%;
            h3{
                color: white;
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                font-weight: 700;
                margin-bottom: 10px;
            }
            ul{
                display: flex;
                padding-top: 10px;
                li{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    a{
                        margin-bottom: 15px;
                        color: $silver-sand;
                        font-family: $sans-serif-mont;
                        font-size: $f-size-small;
                        font-weight: 600;
                        &:hover{
                            color: $mountain-meadow;
                        }
                    }
                }
            }
        }
    
        .footer-right{
            width: 20%;
            h3{
                color: white;
                font-family: $sans-serif-mont;
                font-size: $f-size-standard;
                font-weight: 700;
                margin-bottom: 10px;
            }
            ul{
                display: flex;
                padding-top: 10px;
                li{
                    display: flex;
                    flex-direction: column;
                    a{
                        margin-bottom: 15px;
                        color: $silver-sand;
                        font-family: $sans-serif-mont;
                        font-size: $f-size-small;
                        font-weight: 600;
                        &:hover{
                            color: $mountain-meadow;
                        }
                    }
                }
            }
        }
    }
    .rights-reserved{
        color: $silver-sand;
        font-family: $sans-serif-mont;
        font-size: $f-size-xs;
        font-weight: 500;
        text-align: center;
        margin-top: 50px;
        padding-bottom: 40px;
    }

    

    .back-to-top{
        background-color: $mountain-meadow;
        width: 75px;
        height: 75px;

        border-radius: 50%;

        position: absolute;
        right: 2%;
        bottom: 10%;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        i{
            font-size: $f-size-extraLarge;
            color: white;
        }
    }
}