/* Colors */

/* color cube */
$cinder: #171520;
$silver-sand: #bbbcbd;
$mountain-meadow: #20ac97;
$cordouray: #6b6c6c;
$congress-blue: #044689;

/* median cut */
$ebony-clay: #232a33;
$grey-chateau: #9aa2a6;

/* material design */
$san-marino: #43779d;
$quick-sand: #c2a394;
$jungle-green: #26aa94;
$amour: #fcf7fb;
$vulcan: #141423;