/* Colors */
/* font */
$blue-j: #3f3a64;
$dark-grey: #333333;

/* color cube */
$cinder: #171520;
$silver-sand: #bbbcbd;
$mountain-meadow: #20ac97;
$mountain-meadow-light: #c4eae4;
$cordouray: #6b6c6c;
$congress-blue: #044689;

/* median cut */
$ebony-clay: #232a33;
$grey-chateau: #9aa2a6;

/* material design */
$san-marino: #43779d;
$quick-sand: #c2a394;
$jungle-green: #26aa94;
$amour: #fcf7fb;
$vulcan: #141423;


/* font family */
$sans-serif-mont: 'Montserrat';
$serif-playfair: 'Playfair Display';


/* font size */
$f-size-xs: 10px;
$f-size-small: 12px;
$f-size-small-standard: 14px;
$f-size-standard: 16px;
$f-size-big: 18px;
$f-size-bigger: 20px;
$f-size-large: 24px;
$f-size-extraLarge: 30px;
$f-size-extraExtraLarge: 40px;
$f-size-gigantic: 48px;